# Mac default file structure
.DS_STORE
# Ignore visuals studio code
.vscode
# Dependency directories
node_modules
# Resources directory
resources
# Ignore package-lock file
package-lock
# Log file
*.Log
# Mongodb directory
db
# Build directory
build
# Ignore built directory
out
